<style>
    .navbar {
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 62px;
        justify-content: flex-start;
    }

    .bt-container {
        width: 70%;
        margin: auto;
    }
    .bt-container a {
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }
    .bt-container a img {
        display:inline;
        max-width: 210px;
        vertical-align:middle;
    }

    #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }

    .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    }

    .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
    }

    .notfound .notfound-404 img {
        z-index: 9999;
    }

    .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #F3A63C;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
    }

    .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    }

    .notfound .notfound-404 h1 {
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    }

    .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 33px !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    }

    .notfound p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    }

    .notfound a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #E84843;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    }

    .notfound a:hover {
    text-decoration: none;
    color: #fff;
    }
    @media (max-width: 990px) {
        .notfound .notfound-404 {
            width: 140px !important;
            height: 140px !important;
        }
        .notfound .notfound-404 h1 {
            font-size: 70px !important;
        }
    }
    </style>
    <!DOCTYPE html>
<html lang="en">

<head>
    <% include ../includes/head.ejs %>
</head>



<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
        <div class="bt-container">
            <!--Navbar Right Content-->
            <a href="/<%= ((languageCodes).indexOf(langCode) == 1) ? langCode : 'en' %>/index">
                <!-- <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/logo.png" class="img-fluid"> -->
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/logo_small.svg" class="img-fluid">
            </a>
        </div>
    </nav>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <!-- <div></div> -->
                <!-- <h1>500</h1> -->
                <img width="200" src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/500.png">
            </div>
            <h2><%= (indexText.Error500Title) ? indexText.Error500Title : 'Whoops!' %></h2>
            <p><%= (indexText.Error500Text) ? indexText.Error500Text : 'Something went wrong here. We are currently trying to fix the problem. Please come back later.' %></p>
            <a href="/<%= ((languageCodes).indexOf(langCode) == 1) ? langCode : 'en' %>/index"><%= (indexText.errorHomePageBtn) ? indexText.errorHomePageBtn : 'Home Page' %></a>
        </div>
    </div>

</body>