<div class="col-lg-3 col-xl-2 mb-5 lCategories">
    <div id="leftMenuData" style="display: none;"><%= subCategories.length %></div>
    <% if (subCategories.length > 0) { %>
    <div class="list-group mt-5 for-index-only">
        <a class="list-group-item  lCategoriesTitle"><%= array.Cate %></a>
        <div>
            <% if (userData !== null) { %>
            <a href="/<%= langCode %>/favourites" class="list-group-item list-group-item-action lCategoriesElements" role="button">
                <%= indexText.N4  ? indexText.N4 : 'Favorite(s)' %></a>
            <% } %>
            <% for(var i=0; i < subCategories.length; i++) { %>
            <a class="list-group-item list-group-item-action lCategoriesElements lCategoriesDropDown" role="button" aria-expanded="true">
                <%= subCategories[i].name %>
                <i class="fas fa-chevron-right iconRight"></i>
            </a>
            <div class="collapse show categoriesDropdownContent" id="bakery<%= i %>">
                <% for(var y=0; y < subCategories[i].categories.length; y++) { %>
                <% if (subCategories[i].categories[y].isSelected) { %>
                <a class="dropdown-item pre-wrap-text lCategoriesElements isSelected" href="/<%= langCode %>/category/<%= subCategories[i].categories[y].urlName %>"><%= subCategories[i].categories[y].name %></a>
                <script>
                    $(function() {
                        $('#bakery<%= i %>').show();
                        $('#bakery<%= i %>').prev().children().removeClass('fa-chevron-right');
                        $('#bakery<%= i %>').prev().children().addClass('fa-chevron-down');
                        $('#bakery<%= i %>').prev().addClass('laaalrang');
                    });
                </script>
                <% } else { %>
                <a class="dropdown-item pre-wrap-text lCategoriesElements" href="/<%= langCode %>/category/<%= subCategories[i].categories[y].urlName %>"><%= subCategories[i].categories[y].name %></a>
                <% } %>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
</div>