<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
    <% include mapsProfile.ejs %>
</head>

<body>
<% include header.ejs %>
<div class="container">
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12">
            <h2 class="login-heading"
                style="font-size: 1.65rem !important;">Enter Location</h2>
            <span class="login-heading"
                  style="margin-bottom: 0.5rem;display:block"><%= indexText.streetAddressOrBuilding ? indexText.streetAddressOrBuilding : 'Street Address or Building' %></span>
            <!--<form class="needs-validation" novalidate
                  autocomplete="off">-->
            <div class="form-group position-relative">
                <label for="myprofile-locationmap"
                       class="login-label"><%= indexText.locationmap_title ? indexText.locationmap_title : 'Location on Map' %></label>
                <input type="text" class="form-control form-control-lg login-emailfield" id="myprofileLocationmap"
                       name="lineAddress1"
                       placeholder="<%= indexText.enterHere ? indexText.enterHere : 'Enter Here...' %>" required>
                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="long" id="long">
                <button id="clearGoogleSearch"
                        onclick="clearLocationFields('null', 'clearGoogleSearch'); $('.error-message').html('');"
                        class="clear-btn position-absolute" type="button">Clear
                </button>
                <div class="invalid-feedback">
                    <%= indexText.generalFieldIsRequired ? indexText.generalFieldIsRequired : 'This field is required.' %>
                </div>
            </div>
            <div class="error-message mt-2"></div>
            <!--<span class="login-heading"
                  style="display: block;margin-bottom: 0.5rem;"><%= indexText.apartmentOrOfficeAddress ? indexText.apartmentOrOfficeAddress : 'Apartment or office Unit Number (optional)' %></span>
            <div class="form-group position-relative">
                <label for="myprofile-contactname"
                       class="login-label"><%= indexText.AddAddress_hint_line_2 ? indexText.AddAddress_hint_line_2 : 'Unit, Floor, Building, Appartment, Street' %></label>
                <input type="text" value="" class="form-control form-control-lg login-emailfield"
                       name="lineAddress2" id="lineAddress2"
                       placeholder="<%= indexText.enterHere ? indexText.enterHere : 'Enter Here...' %>">
                <button id="clearOptionalText" onclick="clearLocationFields('null', 'clearOptionalText')"
                        class="clear-btn position-absolute"
                        type="button"><%= indexText.clearAddress ? indexText.clearAddress : 'Clear' %></button>
            </div>-->
            <div id="googleMap" style="width:100%;height:400px;"></div>
            <!-- <input type="text" value="" class="form-control form-control-lg login-emailfield" name="lineAddress1" id="lineAddress1" placeholder="Enter Here..." required> -->
            <input type="hidden" value="" name="city" id="city" placeholder="Enter Here..." required>
            <input type="hidden" value="" name="state" id="state" placeholder="Enter Here..." required>
            <input type="hidden" value="" name="country" id="country" placeholder="Enter Here..." required>
            <!--<button type="submit"
                        class="btn btn-primary login-loginbutton text-uppercase mt-4"><%= indexText.addDeliveryAddress ? indexText.addDeliveryAddress : 'Save' %></button>-->
            <!--</form>-->
        </div>
    </div>
</div>
<input type="hidden" id="restrictLocationMsg"
       value="<%= (indexText.restrictLocationMsg) ? indexText.restrictLocationMsg : 'Currently we are not delivering in this area. Coming Soon to this place.' %>">
<footer>
    <% include footer.ejs %>
</footer>
</body>
<script>
    $(document).ready(() => {
        getLocation();
    });

    function getLocation() {
        if (navigator.geolocation) {
            var options = { maximumAge: 0, timeout: 10000, enableHighAccuracy: true };
            navigator.geolocation.getCurrentPosition(showPosition, showGEOError, options);
        } else {
            console.log('Geolocation is not supported by this browser.');
        }
    }

    function showPosition(position) {
        let autocomplete = new google.maps.places.Autocomplete(document.getElementById('myprofileLocationmap'));
        autocomplete.setFields(['place_id', 'geometry', 'name', 'formatted_address', 'address_components']);

        google.maps.event.addListener(autocomplete, 'place_changed', async function () {
            var place = autocomplete.getPlace();
            document.getElementById('lat').value = place.geometry.location.lat();
            document.getElementById('long').value = place.geometry.location.lng();
            // document.getElementById('lineAddress1').value = place.formatted_address;
            if (await isInRadius(place.geometry.location.lat(), place.geometry.location.lng())) {
                // document.getElementById('myprofileLocationmap').value = '';
                $('.error-message').html('<div class="alert alert-danger" role="alert">Currently we are not delivering in this area. Coming Soon to this place.</div>');
                // setTimeout(function() { $('.error-message').html(''); }, 4000);
            } else {
                $('.error-message').html('<div class="alert alert-success" role="alert">We deliver to your address!</div>');
            }
            addAddressToFields(place);

        });
        var mapProp = {
            center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
            zoom: 14,
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
            map: map,
            draggable: true
        });
        google.maps.event.addListener(marker, 'dragend', function () {
            geocodePosition(marker.getPosition());
        });

        geocodePosition(marker.getPosition());

    }

    function showGEOError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                $('.systemMessages').html('<div class="col-md-12 mt-2 py-3"><div class="alert alert-danger" role="alert">User denied the request for Geolocation.</div></div>');
                setTimeout(function () {
                    $('.systemMessages').html('');
                }, 5000);
                break;
            case error.POSITION_UNAVAILABLE:
                $('.systemMessages').html('<div class="col-md-12 mt-2 py-3"><div class="alert alert-danger" role="alert">Location information is unavailable.</div></div>');
                setTimeout(function () {
                    $('.systemMessages').html('');
                }, 5000);
                break;
            case error.TIMEOUT:
                $('.systemMessages').html('<div class="col-md-12 mt-2 py-3"><div class="alert alert-danger" role="alert">The request to get user location timed out.</div></div>');
                setTimeout(function () {
                    $('.systemMessages').html('');
                }, 5000);
                break;
            case error.UNKNOWN_ERROR:
                $('.systemMessages').html('<div class="col-md-12 mt-2 py-3"><div class="alert alert-danger" role="alert">An unknown error occurred.</div></div>');
                setTimeout(function () {
                    $('.systemMessages').html('');
                }, 5000);
                break;
        }
        var mapProp = {
            center: new google.maps.LatLng(3.1385036, 101.6169488),
            zoom: 14,
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(3.1385036, 101.6169488),
            map: map,
            draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', function () {
            geocodePosition(marker.getPosition());
        });
    }

    function geocodePosition(pos) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            latLng: pos
        }, function (responses) {
            if (responses && responses.length > 0) {
                document.getElementById('lat').value = pos.lat();
                document.getElementById('long').value = pos.lng();
                /*document.getElementById('myprofileLocationmap').value = responses[0].formatted_address;
                if (await isInRadius(pos.lat(), pos.lng())) {
                    $('.error-message').html('<div class="alert alert-danger" role="alert">Currently we are not delivering in this area. Coming Soon to this place.</div>');
                } else {
                    $('.error-message').html('<div class="alert alert-success" role="alert">We deliver to your address!</div>');
                }*/
            }
        });
    }

    function addAddressToFields(place) {
        for (var i = 0; i < place.address_components.length; i++) {
            if (place.address_components[i].types[0] === 'locality') {
                var city = place.address_components[i].long_name;
                document.getElementById('city').value = city;
            } else if (place.address_components[i].types[0] === 'administrative_area_level_1') {
                var state = place.address_components[i].short_name;
                document.getElementById('state').value = state;
            } else if (place.address_components[i].types[0] === 'country') {
                var country = place.address_components[i].long_name;
                document.getElementById('country').value = country;
            }
        }

        if (document.getElementById("googleMap")) {
            var mapProp = {
                center: new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng()),
                zoom: 14,
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng()),
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function () {
                geocodePosition(marker.getPosition());
            });
        }
    }
</script>
</html>
