<% if (process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging' ) { %>
    <script src="https://s3-ap-southeast-1.amazonaws.com/mygroser.com/files/concat-static.min.js"></script>
    <script src="/dest/concat.min.js?v=b4994dafd810d19de3f61f1c9c7749bc"></script>
<% } else { %>
<!-- Bootstrap core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Bootstrap Toggle -->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/vendor/jquery/socket.io.min.js"></script>
<script src="/vendor/jquery/swipe.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
<script src="/vendor/jquery/jquery.smartbanner.js"></script>
<script src="/vendor/jquery/avnSkeleton/avnPlugin.js"></script>
<script src="/vendor/jquery/avnSkeleton/avnSkeleton.js"></script>
<script src="/Assets/indexScript.js"></script>
<script src="/Assets/myProfile.js"></script>
<script src="/Assets/myGroser.js"></script>

<% } %>

<% if (userData !== null) { %>
<script>
    window.intercomSettings = {
        app_id: 'u8yx2oh2',
        name: "<%= userData.name %>", // Full name
        email: "<%= userData.email %>", // Email address
        // created_at: "<%= userData.createdAt %>" // Signup date as a Unix timestamp
        custom_launcher_selector: '.intercom-launcher',
        hide_default_launcher: true,
    };
</script>
<% } else { %>
<script>
    window.intercomSettings = {
        app_id: 'u8yx2oh2',
        // name: "UnKnown", // Full name
        // email: "", // Email address
        // created_at: "" // Signup date as a Unix timestamp,
        custom_launcher_selector: '.intercom-launcher',
        hide_default_launcher: true,
    };
</script>
<% } %>
<script>
    (function() {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === 'function') {
            ic('reattach_activator');
            ic('update', w.intercomSettings);
        } else {
            var d = document;
            var i = function() {
                i.c(arguments);
            };
            i.q = [];
            i.c = function(args) {
                i.q.push(args);
            };
            w.Intercom = i;
            var l = function() {
                var s = d.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://widget.intercom.io/widget/u8yx2oh2';
                var x = d.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            };
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
            setTimeout(function() {
                var ic = w.Intercom;
                ic('shutdown');
                ic('boot', w.intercomSettings);

                const launcher = document.querySelector('.intercom-launcher');
                const unreadCount = launcher.querySelector('.intercom-unread-count');

                // Register callbacks
                window.Intercom('onShow', () => launcher.classList.add('intercom-open'));

                window.Intercom('onHide', () => launcher.classList.remove('intercom-open'));

                window.Intercom('onUnreadCountChange', count => {
                    unreadCount.textContent = count;
                    if (count) {
                        unreadCount.classList.add('active');
                    } else {
                        unreadCount.classList.remove('active');
                    }
                });

                // Wait for Intercom to boot (max 30 seconds)
                const timeout = setTimeout(() => clearInterval(interval), 30000);
                const interval = setInterval(() => {
                    if (window.Intercom.booted) {
                        // Add class to show the launcher
                        launcher.classList.add('intercom-booted');

                        clearInterval(interval);
                        clearTimeout(timeout);
                    }
                }, 100);
            }, 2000);
        }
    })();
</script>
