<div class="container-fluid mt-5 py-5" style="background : #DDDDDD !important; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2">
            <div class="row">
                <div class="col-sm-6 col-md-4 mb-3">
                    <h3 class="footer-heading">
                        <%= indexText.newsLetter  ? indexText.newsLetter : 'News Letter' %>
                    </h3>
                    <div>
                        <input type="email" id="newsLetterEmail" class="d-block form-control" style="width: 85%;" placeholder="<%= indexText.emailTextPlaceHolder  ? indexText.emailTextPlaceHolder : 'Email' %>"></textarea>
                        <div style="display: flex; align-items: center">
                            <button class="btn btn-success newsletter-button mt-3" onclick="subscribeNewsLetter()"><%= indexText.subscribeBtn  ? indexText.subscribeBtn : 'Subscribe' %></button>
                            <span class="mt-3 ml-3" id="successSubscribe" style="display: none;"><%= indexText.emailSubscribed  ? indexText.emailSubscribed : 'Email subscribed successfully!' %></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="footer-heading">
                                        <%= indexText.F1  ? indexText.F1 : 'Address' %>
                                    </h3>
                                    <div class="mt-3 py-2">
                                        <%= indexText.F2  ? indexText.F2 : 'Unit B-2-7 Pacific Place Jalan PJU 1A/4 Ara Damansara 47301 Petaling Jaya Selangor Malaysia' %>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                <div class="col-sm-6 col-md-4 mb-3">
                    <h3 class="footer-heading">
                        <%= indexText.F4  ? indexText.F4 : 'About Us' %>
                    </h3>
                    <ul class="list-unstyled mt-3 nav nav-pills">
                        <li class="pt-2" style="display: block; width: 100%;"><a href="/<%= langCode %>/termsandconditions" class="footer-links"><%= indexText.F5 ? indexText.F5 : 'Terms and Conditions' %></a>
                        </li>
                        <li style="display: block; width: 100%;"><a href="/<%= langCode %>/privacypolicy" class="footer-links"><%= indexText.F6  ? indexText.F6 : 'Privacy Policy' %></a></li>
                        <li style="display: block; width: 100%;"><a href="/<%= langCode %>/contactus" class="footer-links"><%= indexText.Home_contactUs1 ? indexText.Home_contactUs1 : 'Contact Us' %></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3 class="footer-heading">
                        <%= indexText.F3  ? indexText.F3 : 'Payment Options' %>
                    </h3>
                    <div class="mt-3 py-2">
                        <i><img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/mastercard.svg" style="    width: 50px;
                                background: #fff;
                                padding: 0px 5px;
                                margin-right: 15px;"></i>
                        <i><img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/visa.svg" style="    width: 50px;
                                background: #fff;
                                padding: 0px 5px;
                                margin-right: 15px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><%= indexText.Copyright  ? indexText.Copyright + ' ©2019, MyGroser' : 'Copyrights ©2019, MyGroser' %></div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="intercom-launcher" href="mailto:u8yx2oh2@incoming.intercom.io">
        <div class="intercom-icon-close"></div>
        <div class="intercom-icon-open"></div>
        <span class="intercom-unread-count"></span>
    </a>
</div>

<% include ./foot.ejs %>
