<!--Usuals-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= indexText.siteDesc ? indexText.siteDesc : 'MyGroser' %>">
<meta name="author" content="">
<meta name="apple-itunes-app" content="app-id=1470372931">
<meta name="google-play-app" content="app-id=apps.mygroser.user">
<link rel="apple-touch-icon" href="/Assets/images/appicon.png">

<meta property="og:title" content="<%= indexText.siteTitle ? indexText.siteTitle : 'MyGroser' %>">
<meta property="og:description" content="<%= indexText.siteDesc ? indexText.siteDesc : 'MyGroser' %>">
<meta property="og:image" content="<%= indexText.siteImage ? indexText.siteImage : indexText.defaultImage %>">
<!--Usuals-->

<!--Title-->
<title><%= indexText.siteTitle ? indexText.siteTitle : 'MyGroser' %></title>
<!--Title-->

<!-- Favicon -->
<link rel="icon" type="image/png" href="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/favicon.png">
<% if (process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging' || process.env.NODE_ENV === '' ) { %>
<link href="https://s3-ap-southeast-1.amazonaws.com/mygroser.com/files/concat-style-static.min.css" rel="stylesheet">
<link href="/dest/concat-style.min.css?v=d3e41237c2bacf93999b750d7c73ff9f" rel="stylesheet">
<% } else { %>
<!-- Custom Style Sheet -->
<link href="/vendor/bootstrap/css/custom.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Awesome!!!! -->
<link rel="stylesheet" href="/vendor/bootstrap/css/all.css">

<!-- PIDPI Style Sheet -->
<link rel="stylesheet" href="/vendor/bootstrap/css/pidie-0.0.8.css">

<!--Bootstrap Toggle-->
<link rel="stylesheet" href="/vendor/bootstrap/css/font-awesome.min.css" />
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap4-toggle.min.css">

<link rel="stylesheet" href="/vendor/bootstrap/css/jquery.smartbanner.css">
<link rel="stylesheet" href="/vendor/jquery/avnSkeleton/avnSkeleton.css">

<% } %>


<!-- HippoChat CDN -->
<!--<script src="https://chat.hippochat.io/js/widget.js"></script>-->

<!--<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC2BZEh8CG8ZRiBIbYjk3IT0C2yYcNDJj8"></script>-->
<script async src="/insider-sw-sdk.js"></script>
<script async src="//mygroser.api.useinsider.com/ins.js?id=10004010"></script>

<% if (process.env.NODE_ENV === 'production') { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139958119-1"></script>
<script>
    var ENVIRONMENT = 'production';
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-139958119-1');
</script>

<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '400053734026301');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=400053734026301&ev=PageView&noscript=1" />
</noscript>


<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1155013031325895');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1155013031325895&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

<% } else { %>
<script>
    var ENVIRONMENT = 'development';
</script>
<% } %>
<script src="/vendor/jquery/jquery.min.js"></script>
<% if (userData) { %>
<script>
    const isUserData = <%- JSON.stringify(userData) %>;
</script>
<% } else { %>
<script>
    const isUserData = null;
</script>
<% } %>