<style type="text/css">
    .nb-text-wrapper {
        -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        z-index: 999999;
        width: 100%;
        margin-bottom: 6px;
    }

    .nb-text-wrapper p {
        margin: 0 !important;
    }

    .nb-text-wrapper .nb-text {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center
    }
</style>
<% if(indexText.notificationBarText) { %>
<%- indexText.notificationBarText %>
<% } %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
    <div class="container">
        <!-- LOGO -->
        <!--Navbar Right Content-->
        <a href="/<%= langCode %>/index" class="logo desktop-logo">
            <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/logo_small.svg" class="img-fluid">
        </a>
        <div class="mobile-flex" style="width: 100%">
            <button onclick="openNav()" class="navbar-toggler mobile-nav" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="/<%= langCode %>/index" class="mobile-logo">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/mobile-logo.svg" class="img-fluid">
            </a>
            <div class="mobile-search">
                <form class="float-left d-inline-block mr-auto ml-auto loginPageNoSearch" action="/<%= langCode %>/search-product" method="GET" autocomplete="off">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg navbar-searchbox" id="searchTextMobile" name="searchText" placeholder="<%= indexText.webSearch ? indexText.webSearch : 'Product Name' %>" autocomplete="off">
                        <a class="clearSearch"><i class="fas fa-times"></i></a>
                        <div class="input-group-append">
                            <button class="btn btn-secondary navbar-searchboxButton" type="submit"> <i class="fa fa-search"></i> </button>
                        </div>
                    </div>
                    <div style="position: relative;">
                        <div style="position: absolute; top: 0; z-index: 999; width: 100%">
                            <ul id="autoCompleteMobile" style="width: 98%; background: white; list-style: none; margin: auto">
                            </ul>
                        </div>
                    </div>
                </form>
                <a class="nav-link navbar-cartLink" href="/<%= langCode %>/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <% if (session.cart && session.cart.length > 0) { %>
                    <input type="hidden" id="sideBarforCart" value="<%= (session.cart && session.cart.length > 0) ? '1' : '0' %>">
                    <span class="badge badge-pill  counterCart" id="cart-count-mobile" style="margin-right: -13px; margin-top: -5px;"><%= session.cart ? session.cart.length : 0 %></span>
                    <span class="sr-only">(current)</span>
                    <% } else { %>
                    <span class="badge badge-pill  counterCart" id="cart-count-mobile" style="margin-right: -13px; margin-top: -5px;"></span>
                    <span class="sr-only">(current)</span>
                    <% } %>
                </a>

                <span class="language-remove">
                    <a class="nav-link dropdown-toggle navbar-accountLink" href="#" id="navbarLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><%= langCode %></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageDropdown">
                        <% for(var i = 0; i < languages.length; i++) { %>
                        <a class="dropdown-item dropdown-items mobile-languages" onclick="langChange('<%= langCode %>', '<%= languages[i].code %>')" style="cursor: pointer">
                            <%= languages[i].name %>
                        </a>
                        <% } %>
                    </div>
                </span>
                <a id="cancelFocus" style="display: none;">Cancel</a>
            </div>
        </div>

        <div id="mySidebar" class="sidebar">
            <% include menu-mobile.ejs %>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="d-inline-block mr-auto ml-auto loginPageNoSearch" action="/<%= langCode %>/search-product" method="GET" autocomplete="off">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg navbar-searchbox" id="searchText" name="searchText" placeholder="<%= indexText.webSearch ? indexText.webSearch : 'Product Name' %>"
                           autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-secondary navbar-searchboxButton" id="searchProductsBtn" type="submit"><i
                                    class="fa fa-search"></i></button>
                    </div>
                </div>
                <div style="position: relative;">
                    <div style="position: absolute; top: 0; z-index: 999; width: 100%">
                        <ul id="autoComplete" style="width: 98%; background: white; list-style: none; margin: auto">
                        </ul>
                    </div>
                </div>
            </form>
            <% include menu.ejs %>
        </div>
    </div>
</nav>
<% if (userData === null) { %>
<nav class="navbar navbar-expand-lg navbar-dark mobile-flex" style="display: none">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2">
        <a href="/<%= langCode %>/login" class="btn btn-primary mobile-login w-100"><%= indexText.logIn  ? indexText.logIn : 'Log In' %></a>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2">
        <a href="/<%= langCode %>/signup" class="btn btn-primary mobile-sign-up w-100"><%= indexText.signUp  ? indexText.signUp : 'Sign Up' %></a>
    </div>
</nav>

<% } %>
<div id="langCodeOnSite" style="display: none;"><%= langCode %></div>
