<% if (process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging' || process.env.NODE_ENV === '' ) { %>
<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAfRtLS1UpO006jz7H8ySSOedT3tnEggK4"></script>
<% } else { %>
<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDmaoqd7b5_t6C9AsyTkFiOUoGQVl-oooU"></script>
<% } %>
