<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link navbar-cartLink" href="/<%= langCode %>/cart" style="min-width: 65px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 100px;">
            <i class="fas fa-shopping-cart"></i>
            <%= indexText.cart ? indexText.cart : 'Cart' %>
            <% if (session.cart && session.cart.length > 0) { %>
            <input type="hidden" id="sideBarforCart" value="<%= (session.cart && session.cart.length > 0) ? '1' : '0' %>">
            <span class="badge badge-pill  counterCart" id="cart-count" style="margin-right: 5px;"><%= session.cart ? session.cart.length : 0 %></span>
            <span class="sr-only">(current)</span>
            <% } else { %>
            <span class="badge badge-pill  counterCart" id="cart-count" style="margin-right: 5px;"></span>
            <span class="sr-only">(current)</span>
            <% } %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="http://help.mygroser.com/" target="_blank">FAQ</a>
    </li>
    <input type="hidden" id="sideBarforLogin" value="<%= (userData === null) ? '0' : '1' %>">
    <% if (userData === null) { %>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/signup"><%= indexText.signUp  ? indexText.signUp : 'Sign Up' %></a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/login"><%= indexText.logIn  ? indexText.logIn : 'Log In' %></a>
    </li>
    <% } %>
    <% if (userData !== null) { %>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/my-orders">
            <!-- <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/myOrder.svg"> -->
            <%= indexText.N3  ? indexText.N3 : 'My Orders' %>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-accountLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 90px;">
            <%= indexText.Acc  ? indexText.Acc : 'Account' %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/one-delivery">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/oneDelivery.svg">
                <%= indexText.N1  ? indexText.N1 : 'Get My Grocer One Delivery' %>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/loyalty-points">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/loyaltyPoints.svg">
                <%= indexText.N2  ? indexText.N2 : 'Loyalty Points:' %>
                <span class="loyaltyPoints"><%= (userData) ? userData.layaltyPoints : 0 %></span>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/favourites">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/favourite.svg">
                <%= indexText.N4  ? indexText.N4 : 'Favorite(s)' %>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/my-wallet">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/wallet.svg">
                <%= indexText.N6  ? indexText.N6 : 'My Wallet:' %>
                <span class="loyaltyPoints"><%= (userData !== null) ? userData.wallet : 0 %></span>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/promo-codes">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/promo.svg" style="margin-left: -3px; padding-right: 7px; margin-right: 2px;">
                <%= indexText.N7  ? indexText.N7 : 'Promo Codes' %>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/share-and-earn">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/share.svg">
                <%= indexText.N8  ? indexText.shareHeaderdd : 'Share' %>
            </a>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/my-profile">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/profile.svg">
                <%= indexText.N9  ? indexText.N9 : 'My Profile' %>
            </a>
            <% if (userData.userAccountType === 2) {%>
            <a class="dropdown-item dropdown-items" href="/<%= langCode %>/company/info">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/company-name.svg">
                <%= indexText.N11  ? indexText.N11 : 'Company Details' %>
            </a>
            <% } %>
            <!-- <a class="dropdown-item dropdown-items" href="/feedback">
                        <img src="Assets/icons/feedback.svg">
                        Feedback
                </a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item logout" href="/<%= langCode %>/logout">
                <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/logout.svg">
                <%= indexText.N10  ? indexText.N10 : 'Logout' %>
            </a>
        </div>
    </li>
    <% } %>

    <% if (userData !== null) { %>
    <li class="nav-item dropdown notificaition-menu" style="padding-top: 5px;">
        <a class="nav-link fa fa-bell" onclick="getNotifications('<%= langCode %>')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #E15C44 !important">
            <% if (userNotificatons.length > 0) { %>
            <span class="badge badge-pill  counterCart" id="notification-count" style="margin-right: 5px; padding-top: 3px;"><%= (userNotificatons[0].count > 99) ? '99+' : userNotificatons[0].count %></span>
            <span class="sr-only">(current)</span>
            <% } else { %>
            <span class="badge badge-pill  counterCart" id="notification-count" style="margin-right: 17px; padding-top: 3px;"></span>
            <span class="sr-only">(current)</span>
            <% } %>
        </a>
        <div id="notification-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="max-height: 250px; overflow-y: auto; min-width: 315px;">
        </div>
    </li>

    <% } %>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-accountLink" href="#" id="navbarLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><%= langCode %></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageDropdown">
            <% for(var i = 0; i < languages.length; i++) { %>
            <a class="dropdown-item dropdown-items" onclick="langChange('<%= langCode %>', '<%= languages[i].code %>')" style="cursor: pointer">
                <%= languages[i].name %>
            </a>
            <% } %>
        </div>
    </li>

    <li class="nav-item dropdown navCategories" style="min-width: 60px;">
        <a class="nav-link dropdown-toggle navbar-categoriesLink" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departments
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% for(var i = 0; i < subCategories.length; i++) { %>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle dropdown-items" href="#"><%= subCategories[i].name %></a>
                <ul class="dropdown-menu border-0">
                    <% for(var y = 0; y < subCategories[i].categories.length; y++) { %>
                    <li>
                        <a class="dropdown-item dropdown-items" href="/<%= langCode %>/category/<%= subCategories[i].categories[y].name %>"><%= subCategories[i].categories[y].name %></a>
                    </li>
                    <% } %>
                </ul>
            </li>
            <% } %>
        </ul>
    </li>
</ul>