<ul class="navbar-nav">
    <input type="hidden" id="sideBarforLogin" value="<%= (userData === null) ? '0' : '1' %>">
    <% if (userData === null) { %>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/signup"><%= indexText.signUp  ? indexText.signUp : 'Sign Up' %></a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/login"><%= indexText.logIn  ? indexText.logIn : 'Log In' %></a>
    </li>
    <% } %>
    <% if (userData !== null) { %>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/my-profile">
            <img class="profile-img" src="<%= userData.profileImage %>" onerror="this.onerror=null;this.src='<%= ('https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/mobile-logo.svg') %>'">
            <div class="profile-name">
                <span><%= userData.name %></span>
            </div>
        </a>
        <a class="nav-link mobile-bell fa fa-bell" onclick="getNotifications('<%= langCode %>')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #E15C44 !important">
            <% if (userNotificatons > 0) { %>
            <span class="badge badge-pill  counterCart" id="notification-count-mobile" style="margin-right: 5px; padding-top: 3px;"><%= (userNotificatons > 99) ? '99+' : userNotificatons %></span>
            <span class="sr-only">(current)</span>
            <% } else { %>
            <span class="badge badge-pill  counterCart" id="notification-count-mobile" style="margin-right: 17px; padding-top: 3px;"></span>
            <span class="sr-only">(current)</span>
            <% } %>
        </a>
        <div id="notification-dropdown-mobile" class="dropdown-menu dropdown-menu-right mobile-notifications" aria-labelledby="navbarDropdown" style="max-height: 250px; overflow-y: auto;">
        </div>
    </li>
    <% } %>

    <li class="nav-separator">
        <span class="navbar-signupLink">Home</span>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/index">
            Home
            <!-- <%= indexText.N1  ? indexText.N1 : 'Home' %> -->
        </a>
    </li>
    <% if (userData !== null) { %>
    <li class="nav-separator">
        <span class="navbar-signupLink"><%= indexText.Acc  ? indexText.Acc : 'Account' %></span>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/loyalty-points">
            <%= indexText.N2  ? indexText.N2 : 'Loyalty Points:' %> <span class="loyaltyPoints"><%= (userData.layaltyPoints) ? userData.layaltyPoints : 0 %></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/my-wallet"><%= indexText.N6  ? indexText.N6 : 'My Wallet' %> <span class="loyaltyPoints"><%= (userData.wallet) ? userData.wallet : 0 %></span></a>
    </li>
    <li class="nav-item">
        <a href="/<%= langCode %>/favourites" class="nav-link navbar-signupLink"><%= indexText.N4  ? indexText.N4 : 'Favorite(s)' %></a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/my-orders">
            <!-- <img src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/myOrder.svg"> -->
            <%= indexText.N3  ? indexText.N3 : 'My Orders' %>
        </a>
    </li>
    <% if (userData.userAccountType === 2) { %>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/company/info">
            <%= indexText.N11  ? indexText.N11 : 'Company Details' %>
        </a>
    </li>
    <% } %>

    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/promo-codes">
            <%= indexText.N7  ? indexText.N7 : 'Promo Codes' %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/share-and-earn">
            <%= indexText.N8  ? indexText.shareHeaderdd : 'Share' %>
        </a>
    </li>
    <% } %>

    <% if (subCategories && subCategories.length > 0) { %>
    <li class="nav-separator">
        <span class="navbar-signupLink">Departments</span>
    </li>

    <li class="nav-item dropdown navCategories show">
        <ul class="dropdown-menu show" aria-labelledby="navbarDropdownMenuLink" style="padding:0;border:0">
            <% for(var i = 0; i < subCategories.length; i++) { %>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle dropdown-items" id="bakery-mobile<%= i %>" href="#"><%= subCategories[i].name %>
                    <span class="fas fa-chevron-right float-right"></span>
                </a>
                <ul class="dropdown-menu border-0" style="padding: 0; margin: 0" id="select-dropdown-mobile<%= i %>">
                    <% for(var y = 0; y < subCategories[i].categories.length; y++) { %>
                    <li>
                        <% if (subCategories[i].categories[y].isSelected) { %>
                        <a style="padding-left: 30px !important; white-space: pre-wrap;" class="dropdown-item dropdown-items laaalrang" href="/<%= langCode %>/category/<%= subCategories[i].categories[y].name %>"><%= subCategories[i].categories[y].name %></a>
                        <script>
                            $(function() {
                                $('#select-dropdown-mobile<%= i %>').addClass('show');
                                $('#select-dropdown-mobile<%= i %>').prev().children().removeClass('fa-chevron-right');
                                $('#select-dropdown-mobile<%= i %>').prev().children().addClass('fa-chevron-down');
                            });
                        </script>
                        <% } else { %>
                        <a style="padding-left: 30px !important; white-space: pre-wrap;" class="dropdown-item dropdown-items" href="/<%= langCode %>/category/<%= subCategories[i].categories[y].name %>"><%= subCategories[i].categories[y].name %></a>
                        <% } %>
                    </li>
                    <% } %>
                    <script>
                        $(function() {
                            $('#bakery-mobile<%= i %>').click(function() {
                                if ($(this).children().hasClass('fa-chevron-right')) {
                                    $(this).children().removeClass('fa-chevron-right');
                                    $(this).children().addClass('fa-chevron-down');
                                } else {
                                    $(this).children().removeClass('fa-chevron-down');
                                    $(this).children().addClass('fa-chevron-right');
                                }
                            });
                        });
                    </script>
                </ul>
            </li>
            <% } %>
        </ul>
    </li>


    <% } %>

    <% if (userData !== null) { %>
    <li class="nav-separator">
        <span class="navbar-signupLink"><%= indexText.N10  ? indexText.N10 : 'Logout' %></span>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/logout">
            <%= indexText.N10  ? indexText.N10 : 'Logout' %>
        </a>
    </li>
    <% } %>

    <li class="nav-separator">
        <span class="navbar-signupLink">Help & Support</span>
    </li>
    <!-- <li class="nav-item" id="intercom-help">
        <a class="nav-link navbar-signupLink">
            Help
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="http://help.mygroser.com" target="_blank">
            FAQ
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/termsandconditions">
            <%= indexText.F5 ? indexText.F5 : 'Terms and Conditions' %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbar-signupLink" href="/<%= langCode %>/privacypolicy">
            <%= indexText.F6  ? indexText.F6 : 'Privacy Policy' %>
        </a>
    </li>

</ul>