<div class="container">
    <div class="row systemMessages">
        <%if (hasSuccessMessage || hasError ) { %>
        <div class="col-md-12 mt-2 py-2">
            <% for(var i=0; i < successMessages.length; i++) { %>
            <div class="alert alert-success" role="alert">
                <%= successMessages[i] %>
            </div>
            <% } %>

            <% for(var i=0; i < errorMessages.length; i++) { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessages[i] %>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</div>