<!-- CTA -->
<div class="container-fluid no-gutters mt-5 position-relative">
    <section class="row no-gutter align-items-center">
        <div class="col-lg-12 position-relative p-0 d-flex align-items-center footer-mobile">
            <img class="promotion-img-footer position-absolute"
                src="https://mygroser.s3-ap-southeast-1.amazonaws.com/productImages/hand+mobile.png" alt="">
            <div class="w-100 text-white my-auto bottom-section">
                <div class="cta-text">
                    <%= indexText.A1  ? indexText.A1 : 'The Best Food Delivery App' %><br>
                    <div>
                        <%= indexText.A2  ? indexText.A2 : 'Now you can make food happen pretty much wherever you are thanks to the free easy-to-use Food Delivery & Takeout App.' %><br>
                        <a href="https://play.google.com/store/apps/details?id=apps.mygroser.user" target="_blank"><img
                                src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/playstore.png"
                                class="mt-1" style="max-width:26%; height: auto;"></a>
                        <a href="https://apps.apple.com/us/app/mygroser/id1470372931?ls=1" target="_blank"><img
                                src="https://mygroser.s3-ap-southeast-1.amazonaws.com/assets/images/appstore.png"
                                class="mt-1" style="max-width:26%; height: auto;"></a>
                    </div>
                </div>
    </section>
</div>