body {
    margin: 0;
    padding: 0;
}

.nav-item {
    font-weight: bold;
}

.left {
    width: 50%;
    padding-left: 60px;

}

.right {
    width: 50%;
    display: flex;
    margin-top: 4rem;
    flex-direction: column;

}

.parent {
    padding-top: 1rem;
}

.input-box {

    display: flex;

    justify-content: center;

    /* flex-wrap: wrap; */
}

.car-img {
    width: 100%
}

.reg,
.code {
    padding-top: 17px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 20px;
    width: 100%;
    font-weight: bold;
    border: 1px solid #eacfcf;
}

label {
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 10px;
    font-weight: bold;
    color: gray;

}

.reg:focus + label,
.reg:valid + label {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -10px, 0);

}

.code:focus + label,
.code:valid + label {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -10px, 0);

}

.inner-box {
    background: rgb(244 242 253);
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

.search-btn {
    background: var(--primary);
    height: 45px;
    width: 120px;
    border: 0;
    color: white;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.submit-btn {
    background: #4ad8ff;
    height: 45px;
    width: 120px;
    border: 0;
    color: white;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .25em;
}

.box {
    /* width: 85%; */
    background: #e5e5e5;
    padding: .5rem;
}

.left-box {
    background: white;
    width: 50%;
    border: 1px solid #e5e5e5;
    padding: 9px;
    font-size: 10px;
    font-weight: bold;
}

.right-box {
    background: #ffffff;
    width: 50%;
    border: 1px solid #e5e5e5;
    padding: 9px;
    font-size: 10px;
    font-weight: bold;

}

.left-sidebar {
    background: #f2f2f2;
    border-radius: 5px;
    padding-top: 1rem;
}

.gallery-images {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.left-img {
    background: url('/images/water_proof.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 270px;
    width: 50%;
    background-size: cover;
    padding-left: 1.5rem;
}

.right-images {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* height: 500px; */
    /* background: red; */
}

.img-1,
.img-2,
.img-3,
.img-4 {
    width: 100%;
    height: 100%;
}

.img-1 {
    background: url('/images/wind_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;

    background-size: contain;
}

.img-2 {
    background: url('/images/wind_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;

    background-size: contain;
}

.img-3 {
    background: url('/images/wind_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;

    background-size: contain;
}

.img-4 {
    background: url('/images/wind_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;

    background-size: contain;
}

.last-row {
    padding: 0px 1.5rem;
}

.text-section {
    background: #00000087;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    /* position: absolute; */
    bottom: 0;
    z-index: 1;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.carousel-control-next,
.carousel-control-prev {
    top: 60px;
}

.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .parent {
        flex-wrap: wrap;
    }

    .right,
    .left {
        width: 100%;
        padding-left: 0px;
    }

    .reg,
    .code {
        margin: 10px;
        border: 1px solid #eacfcf;
        width: 19rem;
    }

    label {
        top: 23px;
        left: 22px
    }

    .search-btn {
        width: 100%;
        margin: 10px;
        border-radius: 5px;
    }

    .submit-btn {
        width: 100%;
        margin: 10px;
        border-radius: 5px;
    }

    .inner-box {
        width: 100%;
        padding: .5rem;
    }

    .heading {
        font-size: 20px;
        font-weight: bold;
    }

    .left-box,
    .right-box {
        width: 100%
    }

    .left-sidebar {
        margin: 1rem
    }

    .right-images {
        height: 200px;
        width: 100%;
    }

    .left-img {
        width: 100%;
    }

    .last-row {
        padding: unset;
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4 {
        height: 200px;
    }

    .wp #c-visibility {
        top: 29% !important;
        left: 27% !important;
    }

    .wp #c-body {
        right: 22% !important;
        top: 26% !important;
    }

    .wp #c-brakes {
        top: 39% !important;
        left: 9% !important;
    }

    .wp #c-steering {
        top: 50% !important;
        right: 30% !important;
    }

    .wp #c-nuisance {
        top: 49% !important;
        right: 6% !important;
    }

    .wp #c-lamps {
        bottom: 34% !important;
        left: 7% !important;
    }

    .wp #c-wheels {
        bottom: 28% !important;
        left: 38% !important;
    }

    .wp #c-other {
        bottom: 26% !important;
        right: 20% !important;
    }

}

.carousel-indicators {
    bottom: -40px;
}

.vch-body .car-info {
    z-index: 9999;
    position: absolute;
}

.vch-body .car-info img {
    transition: all 0.2s ease-in-out;
}

.vch-body .prediction-info-circle * {
    transition: all 0.3s ease-in-out;
}

.vch-body .prediction-info-circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    padding-left: 0px;
    padding-top: 9px;
    border: 2px solid green;
    color: white;
    box-sizing: border-box;
    opacity: 0.8;
    padding-left: 5px;
    transition: all 0.3s ease-in-out;
}

.vch-body .prediction-info-circle .info-percents {
    font-size: 18px;
    line-height: 18px;
}

.vch-body .prediction-info-circle .info-category {
    font-size: 9px;
    line-height: 10px;
}

.vch-body .prediction-info-circle .info-category--description {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 9px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: all 0.4s ease-in-out;
}

.vch-body .prediction-info-circle:hover {
    border-radius: 15px !important;
    min-height: 50px !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    z-index: 100 !important;
}

.vch-body .prediction-info-circle:hover .info-percents {
    margin-bottom: 5px;
    font-size: 20px;
}

.vch-body .prediction-info-circle:hover .info-category--description {
    font-size: 11px;
    width: 200px;
    height: auto;
    max-height: 150px;
    overflow: auto;
}

.vch-body .prediction-info-circle:hover .info-category {
    font-size: 11px !important;
}

.vch-body #c-visibility {
    top: 24%;
    left: 30%;
}

.vch-body #c-body {
    right: 30%;
    top: 15%;
}

.vch-body #c-brakes {
    top: 34%;
    left: 17%;
}

.vch-body #c-steering {
    top: 50%;
    right: 30%;
}

.vch-body #c-nuisance {
    top: 49%;
    right: 13%;
}

.vch-body #c-lamps {
    bottom: 26%;
    left: 14%;
}

.vch-body #c-wheels {
    bottom: 10%;
    left: 35%;
}

.vch-body #c-other {
    bottom: 10%;
    right: 20%;
}

.vch-body #vch-state-3 {
    padding: 50px;
    margin-top: 10px;
}

.wp .vch-field {
    margin-bottom: 10px;
    width: 100%;
}

.wp .car-info {
    z-index: 9999;
    position: absolute;
}

.wp .car-info img {
    transition: all 0.2s ease-in-out;
}

.wp .prediction-info-circle * {
    transition: all 0.3s ease-in-out;
}

.wp .prediction-info-circle {
    position: absolute;
    height: 35px !important;
    width: 35px !important;
    border-radius: 25px;
    padding-left: 0px;
    padding-top: 9px;
    border: 2px solid green;
    color: white;
    box-sizing: border-box;
    opacity: 0.8;
    padding-left: 5px;
    transition: all 0.3s ease-in-out;
}

.wp .prediction-info-circle .info-percents {
    font-size: 9px;
    line-height: 9px;
}

.wp .prediction-info-circle .info-category {
    font-size: 6px;
    line-height: 6px;
}

.wp .prediction-info-circle .info-category--description {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 9px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: all 0.4s ease-in-out;
}

.wp .prediction-info-circle:hover {
    border-radius: 15px !important;
    min-height: 50px !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    z-index: 100 !important;
}

.wp .prediction-info-circle:hover .info-percents {
    margin-bottom: 5px;
    font-size: 20px;
}

.wp .prediction-info-circle:hover .info-category--description {
    font-size: 11px;
    width: 200px;
    height: auto;
    max-height: 150px;
    overflow: auto;
}

.wp .prediction-info-circle:hover .info-category {
    font-size: 11px !important;
}

.wp #c-visibility {
    top: 24%;
    left: 35%;
}

.wp #c-body {
    right: 35%;
    top: 15%;
}

.wp #c-brakes {
    top: 36%;
    left: 28%;
}

.wp #c-steering {
    top: 50%;
    right: 38%;
}

.wp #c-nuisance {
    top: 49%;
    right: 25%;
}

.wp #c-lamps {
    bottom: 26%;
    left: 25%;
}

.wp #c-wheels {
    bottom: 12%;
    left: 42%;
}

.wp #c-other {
    bottom: 15%;
    right: 35%;
}

.wp #vch-state-3 {
    padding: 50px;
    margin-top: 10px;
}

.info-success {
    border-color: #027500 !important;
    background: #2ECC40 !important;
    color: #027500 !important;
}

.info-warning {
    border-color: #A26700 !important;
    background: #FFDC00 !important;
    color: #A26700 !important;
}

.info-danger {
    border-color: #950000 !important;
    background: #F38C8C !important;
    color: #950000 !important;
}

.border-success {
    border: 2px solid #027500 !important;
}

.border-warning {
    border: 2px solid #A26700 !important;
}

.border-danger {
    border: 2px solid #950000 !important;
}

.text-success {
    color: #027500 !important;
}

.text-warning {
    color: #A26700 !important;
}

.text-danger {
    color: #950000 !important;
}

.setting-svg-height {
    max-height: 40.5vh;
}

/* .multi-item-carousel .carousel-inner>.item {
   transition: 500ms ease-in-out left;
} */
/*
.multi-item-carousel .carousel-inner .active.left {
   left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
   left: 33%;
}

.multi-item-carousel .carousel-inner .next {
   left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
   left: -33%;
} */
/*
@media all and (transform-3d),
(-webkit-transform-3d) {
   .multi-item-carousel .carousel-inner>.item {
      transition: 500ms ease-in-out left;
      transition: 500ms ease-in-out all;
      backface-visibility: visible;
      transform: none !important;
   }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
   background-image: none;
} */

.mot-text-color {
    color: #4ad8ff !important;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .setting-svg-height {
        max-height: 21.5vh;
    }
}
