body {
   margin: 0;
   padding: 0;
}

.nav-item {
   font-weight: bold;
}

.left {
   width: 50%;
   padding-left: 60px;

}

.right {
   width: 50%;
   display: flex;
   flex-direction: column;
}

.parent {
   padding-top: 1rem;
}

.input-box {

   display: flex;

   justify-content: center;

   flex-wrap: wrap;
}

.car-img {
   width: 100%
}

.reg,
.code {
   padding-top: 17px;
   padding-left: 10px;
   padding-bottom: 2px;
   padding-right: 20px;
   width: 20rem;
   font-weight: bold;
   border: 1px solid #eacfcf;
}

label {
   position: absolute;
   top: 18px;
   left: 12px;
   font-size: 10px;
   font-weight: bold;
   color: gray;

}

.reg:focus+label,
.reg:valid+label {
   -webkit-transform: translate3d(0, -15px, 0);
   transform: translate3d(0, -10px, 0);

}

.code:focus+label,
.code:valid+label {
   -webkit-transform: translate3d(0, -15px, 0);
   transform: translate3d(0, -10px, 0);

}

.search-btn {
   background: #4ad8ff;
   height: 45px;
   width: 120px;
   border: 0;
   color: white;
   font-weight: 600;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

.preloader {
   visibility: hidden;
   position: fixed;
   z-index: 999;
   height: 100%;
   width: 100%;
   overflow: show;
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   display: flex;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.preloader svg {
   height: 70px;
   width: 70px;
   /* position: absolute; */
   top: calc(50% - 30px);
   left: 50%;
   margin-left: -35px;
   margin-top: -35px;
}

.preloader .preloader-text {
   /* position: absolute; */
   top: calc(50% + 10px);
   text-align: center;
}

@media only screen and (max-width: 600px) {
   .parent {
      flex-wrap: wrap;
   }

   .right,
   .left {
      width: 100%;
      padding-left: 0px;
   }

   .reg,
   .code {
      margin: 10px;
      border: 1px solid #eacfcf;
      width: 19rem;
   }

   label {
      top: 23px;
      left: 22px
   }

   .search-btn {
      width: 100%;
      margin: 10px;
      border-radius: 5px;
   }

}

.mot-text-color {
   color: #4ad8ff !important;
}