<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOT</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.toast.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/logo (1).svg" width="55px"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<div class="collapse navbar-collapse" id="navbarText">-->
            <!--<ul class="navbar-nav ml-auto">-->
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#">About</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="d-flex parent">
            <div class="order-sm-2 left">
                <img src="/images/car-mot.png" class="car-img"/>
            </div>
            <div class="order-sm-1 right">
                <p>
                    MOT due date checker, FREE <strong class="text-danger">v</strong><strong
                            class="mot-text-color">MOT</strong> online vehicle safety and road worthiness test and
                    personalised
                    coupons
                </p>
                <p>
                    Gain insights into which section of the MOT test (wheels, brakes, steering...) your car is most
                    likely to fail - it's good to know before your MOT test, when buying or selling a car, or
                    Selecting a garage to do your MOT.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p> Simply enter your car reg and postcode</p>
        <% if (message) { %>
            <p class="text-danger" style="text-align: center; margin-bottom: -2%;">
                <%= message %>
            </p>
        <% } %>

        <form method="GET" action="/search/result">
            <div class="input-box mt-5 mb-5 text-center">

                <div class="position-relative">
                    <input class="reg" name="registrationNo" value="<%= regNumber %>" id="reg" required style="text-transform: uppercase;"/>
                    <label>Registration Number</label>
                </div>
                <div class="position-relative">
                    <input class="code" name="postCode" id="code" value="<%= postCode %>"  required style="text-transform: uppercase;"/>
                    <!-- required onkeyup="this.value = this.value.toUpperCase();" /> -->
                    <label>Post Code</label>
                </div>
                <button class="search-btn" type="submit" id="show">Search</button>
            </div>
        </form>
    </div>
</section>


<div class="preloader" id="preloader">
    <svg style="display: block; fill: red;"
         xmlns="http://www.w3.org/2000/svg" version="1.0" width="64px"
         height="64px" viewBox="0 0 128 128" xml:space="preserve">
            <g>
                <path
                        d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                        fill="#ffffff" fill-opacity="1"></path>
                <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="400ms"
                                  repeatCount="indefinite"></animateTransform>
            </g>
        </svg>
    <div class="vch-field preloader-text" style="text-align: center; font-size: 30px; color: white;">Probability
        calculation...
    </div>
</div>


<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.toast.min.js"></script>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            let reg = document.getElementById("reg").value;
            let code = document.getElementById("code").value;
            if (reg != '' & code != '') {
                $("#preloader").css("visibility", "visible");
            }
        });

        $(function () {
            $('input').keyup(function () {
                var input_val = $(this).val();
                var inputRGEX = /^[a-zA-Z0-9]*$/;
                var inputResult = inputRGEX.test(input_val);
                if (!(inputResult)) {
                    this.value = this.value.replace(/[^a-zA-Z0-9]/gi, '');
                }
            });
        });
    });
</script>
</body>

</html>
