<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOT</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo (1).svg" width="55px"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<div class="collapse navbar-collapse" id="navbarText">-->
            <!--<ul class="navbar-nav ml-auto">-->
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#">About</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </nav>
</header>

<section class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 box <%= border %>">
            <div class="heading w-100 text-center">
                <strong class="text-danger">v</strong><strong class="mot-text-color">MOT</strong> <span
                        class="<%= textColor %>"> Prediction:
                    <%= failProbability %>% probability of failing next MOT </span>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="d-flex ">
                            <div class="left-box"> MOT Fail PROBABILITY</div>
                            <div class="right-box"><span class="<%= textColor %>"><%= prediction.fail_probability * 100 %>%</span> </div>
                        </div>
                        <div class="d-flex ">
                            <div class="left-box"> REGISTRATION NUMBER</div>
                            <div class="right-box"> <%= prediction.registration_number %> </div>
                        </div>
                        <div class="d-flex ">
                            <div class="left-box"> MODEL</div>
                            <div class="right-box"> <%= prediction.data.model %> </div>
                        </div>
                        <div class="d-flex ">
                            <div class="left-box"> MOT EXPIRES</div>
                            <div class="right-box"> <%= moment(prediction.expiry_date).format('DD/MM/yyyy') %>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="left-box"> MAKE</div>
                            <div class="right-box"> <%= prediction.data.make %> </div>
                        </div>
                        <div class="d-flex ">
                            <div class="left-box"> FIRST REGISTERED</div>
                            <div class="right-box">
                                <%= moment(prediction.data.firstUsedDate).format('DD/MM/yyyy') %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="predictionCar" style="padding: 0px !important;">
                        <div class="wp">
                            <div class="row last-row">
                                <div class="col-lg-12 col-sm-12 vch-body" style="padding: 0px !important;">
                                    <div class="vch-field car-info"
                                         style="position: relative !important; z-index: 9998;" id="car-info">
                                        <img id="car" height="300" class="w-100 setting-svg-height" src="/images/car.svg"/>
                                        <div class="prediction-info-circle <%= categoryClasses.visibility %>"
                                             id="c-visibility"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents">
                                                <%= prediction_by_categories.visibility %>%
                                            </div>
                                            <div class="info-category"> Visibility</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.visibility %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.body %>" id="c-body"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.body %>%
                                            </div>
                                            <div class="info-category">Body</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.body %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.brakes %>"
                                             id="c-brakes"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"> <%= prediction_by_categories.brakes %>%
                                            </div>
                                            <div class="info-category">Brakes</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.brakes %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.steering %>"
                                             id="c-steering"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.steering %>%
                                            </div>
                                            <div class="info-category"> Steering</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.steering %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.nuisance %>"
                                             id="c-nuisance"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.nuisance %>%
                                            </div>
                                            <div class="info-category"> Nuisance</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.nuisance %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.lamps %>"
                                             id="c-lamps"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.lamps %>%
                                            </div>
                                            <div class="info-category">Lamps</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.lamps %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.wheels %>"
                                             id="c-wheels"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.wheels %>%
                                            </div>
                                            <div class="info-category">Wheels</div>
                                            <div class="info-category--description">
                                                <%= categoryDescriptions.wheels %>
                                            </div>
                                        </div>
                                        <div class="prediction-info-circle <%= categoryClasses.other %>"
                                             id="c-other"
                                             style="position: absolute;height: 50px;width: 50px;border-radius: 25px;padding-left: 0px;padding-top: 9px;border: 2px solid green;color: white;box-sizing: border-box;opacity: .8;padding-left: 5px;">
                                            <div class="info-percents"><%= prediction_by_categories.other %>%
                                            </div>
                                            <div class="info-category">Other</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2" style="padding: 0px !important;">
            <div id="voucherSlider" class="carousel slide multi-item-carousel" data-ride="carousel"
                 style="height: 310px; overflow: hidden;">
                <div class="carousel-inner row w-100 mx-auto" style="padding: 0px !important;">
                    <% for (var i = 0; i < campaigns.data.length; i++) { %>
                        <% if (i === 0 ) { %>
                    <div class="carousel-item col-md-6 active" style="padding: 0px 2px !important;">
                        <% } else { %>
                        <div class="carousel-item col-md-6 position-relative" style="padding: 0px 2px !important;">
                            <% } %>
                            <div>
                                <div style="text-align: left;">
                                    <div class="text-section">
                                        <div>
                                            <div><%= campaigns.data[i].name %></div>
                                            <div>
                                                <% if (campaigns.data[i].voucher.discount.type === 'PERCENT') { %>
                                                    <small><%= campaigns.data[i].voucher.discount.percent_off %>%
                                                        off
                                                    </small>
                                                <% } else if (campaigns.data[i].voucher.discount.type === 'AMOUNT') { %>
                                                    <small>£
                                                        <%= campaigns.data[i].voucher.discount.amount_off %>off
                                                    </small>
                                                <% } else if (campaigns.data[i].voucher.discount.type === 'UNIT') { %>
                                                    <small><%= campaigns.data[i].voucher.discount.unit_off %> Unit
                                                    </small>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="cont">
                                                <input type="checkbox" value="<%= campaigns.data[i].name %>"
                                                       onchange="handleCampaign(event,'<%= JSON.stringify(campaigns.data[i]) %>')"
                                                       id="prom-<%= campaigns.data[i].id %>" name="campaigns">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="d-block w-100" height="250" src="<%- campaigns.data[i].metadata.image %>"
                                 alt="<%= campaigns.data[i].name %>" style="object-fit: fill;">
                        </div>
                        <% } %>

                        <% for (var i = 0; i < vouchers.data.length; i++) { %>
                            <div class=" carousel-item col-md-6">
                                <div>
                                    <div style="text-align: left;">
                                        <div class="text-section">
                                            <div>
                                                <div><%= vouchers.data[i].name %></div>
                                                <div>
                                                    <% if (vouchers.data[i].discount.type === 'PERCENT') { %>
                                                        <small><%= vouchers.data[i].discount.percent_off %>%
                                                            off
                                                        </small>
                                                    <% } else if (vouchers.data[i].discount.type === 'AMOUNT') { %>
                                                        <small>£
                                                            <%= vouchers.data[i].discount.amount_off %>off
                                                        </small>
                                                    <% } else if (vouchers.data[i].discount.type === 'UNIT') { %>
                                                        <small><%= vouchers.data[i].discount.unit_off %> Unit
                                                        </small>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="cont">
                                                    <input type="checkbox" value="<%= vouchers.data[i].name %>"
                                                           onchange="handleVoucher(event)"
                                                           id="prom-<%= vouchers.data[i].id %>" name="vouchers">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img class="d-block w-100" src="<%- vouchers.data[i].metadata.image %>"
                                     alt="<%= vouchers.data[i].name %>" style="object-fit: fill;">
                            </div>
                        <% } %>
                    </div>

                    <a class="carousel-control-prev" href="#voucherSlider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#voucherSlider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="container mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <p>
                Select the personalized offers that are of interest enter your email address and we will send you
                your
                vouchers and detailed <strong class="text-danger">v</strong><strong
                        class="mot-text-color">MOT</strong>
                report.
            </p>
            <div class="mt-2 mb-2 d-flex justify-content-center">
                <div class="d-flex w-100">
                    <div class="position-relative d-flex flex-wrap w-75">
                        <input class="reg" placeholder="abcd@gmail.com" id="email"/>
                        <label>Email</label>
                    </div>
                    <button class="submit-btn w-25" onclick="submitVoucher()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/html2canvas.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $('.multi-item-carousel').on('slide.bs.carousel', function (e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 2;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems - (itemsPerSlide - 1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i = 0; i < it; i++) {
                if (e.direction == "left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                } else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });
</script>

<script>
    var array = [];
    var picture = '';
    html2canvas(document.querySelector("#predictionCar")).then(canvas => {
        var imgData = canvas.toDataURL('image/jpg');
        picture = imgData;
    });


    function handleCampaign(e, val) {
        const {
            checked
        } = e.target;

        console.log(JSON.parse(val));
        let value = JSON.parse(val);

        if (checked) {
            array.push({
                type: value.object,
                name: value.name,
                id: value.id
            })

        }
        if (!checked) {
            let item = array.findIndex(i => i.id == value.id)
            array.splice(item, 1)
        }

        console.log(array);


    }

    function submitVoucher() {
        console.log(array);
        console.log(picture);

        var parsed_data = '<%- JSON.stringify(customerId) %>';
        const email = document.getElementById('email').value;
        if (array.length === 0) {
            toastr.error('Please select voucher')
            return;
        }

        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);

        if (!pattern.test(email)) {

            toastr.error('Please enter valid email');
            return;

        }

        if (email == '' || email == undefined || email == null) {

            toastr.error('Please enter email')
            return;
        }

        array.forEach(element => {
            delete element.id
        });
        var obj = {
            campaigns: array,
            customer_id: JSON.parse(parsed_data),
            email: email,
            picture: picture,
            qr_or_bar: "qr"
        };
        // axios.post('https://api.vmot.co.uk/v-api/coupon', {
        //     campaigns: array,
        //     customer_id: JSON.parse(parsed_data),
        //     email: email,
        //     picture: picture,
        //     qr_or_bar: "qr"
        // })
        // .then(function (response) {
        //     console.log(response);
        // })
        // .catch(function (error) {
        //     console.log(error);
        // });

        $.ajax({
            type: "POST",
            url: "https://api.vmot.co.uk/v-api/coupon",
            contentType: 'json',
            headers: {
                'content-type': 'application/json; charset=utf-8',
                'x-api-key': 'Hi8qIbY6zLGpjXA49t7ve2PBluckZrmWsyJCEgfw'
            },
            data: JSON.stringify(obj),
            success: function (result) {
                // alert("Request success");
                window.location.replace("/index");
            }
        });
    }

    // function handleVoucher(e) {
    // const {checked} = e.target;
    //     alert(checked +"Voucher");
    // }
</script>
</body>

</html>
